html {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  height: 100%;
}

body {
  font-size: 1rem;
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}

.app {
  flex-direction: column;
  display: flex;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
}


@media screen and (max-width: 1220px) {
  html {
    font-size: 17px;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 16px;
  }
}


@media screen and (max-width: 410px) {
  html {
    font-size: 14px;
  }
}

@font-face {
  font-family: Roboto;
  font-display: fallback;
  src: url(~@assets/Roboto-Regular.ttf);
}
