$color-blue: #2626CC;
$color-light-blue: #5959E6;
$color-white: #FAFAFA;
$color-dark-white: #F0F0F0;
$color-light-gray: #E0E0E0;
$color-dark-gray: #333333;
$color-black: darken($color-dark-gray, 10%);
$color-light-yellow: #E2E2AB;

$sidebar-width: 320px;
$tooltip-max-width: 300px;

$page-component-gap: 1rem;

$switch-max-width: 550px;
